h1 {
    text-align: center;
}

p {
    width: 800px;
    margin: 0 auto;
}

#main {
    color: darkred;
    background-color: lightgray;
}

.A {
    border: 5px solid darkslategray;
    width: 800px;
}